In [34]:
import pandas as pd

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [35]:
housing = datasets.fetch_california_housing()

In [36]:
df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [37]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [38]:
dfTarget = pd.DataFrame(housing.target, columns=housing.target_names)

In [39]:
dfTarget.head()

   MedHouseVal
0        4.526
1        3.585
2        3.521
3        3.413
4        3.422

In [40]:
X = df
Y = dfTarget

In [41]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=123)

In [42]:
x_train
y_train

       MedHouseVal
9950         2.875
3547         2.715
4448         1.917
6984         2.197
4432         1.140
...            ...
7763         1.676
15377        1.809
17730        2.862
15725        4.125
19966        0.593

[16512 rows x 1 columns]

In [43]:
scaler = StandardScaler()

In [44]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [45]:
reg = LinearRegression().fit(x_train_scaled, y_train)

In [46]:
results = reg.predict(x_test_scaled)

In [47]:
results

array([[2.36963052],
       [1.42164175],
       [2.03935223],
       ...,
       [0.97891953],
       [1.75012751],
       [3.15660826]])

In [48]:
reg.score(x_test_scaled, y_test)

0.6113273240072044